# ASP.NET Core
## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

## ASP.NET Scaffolding
ScaffoldingReadMe.txt

## Files built by Visual Studio
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.tlog
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

## NuGet Packages
*.nupkg
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets

## Web publish profiles
*.Publish.xml
*.pubxml
*.pubxml.user
*.publishproj

## Application files
Content/Files/*.pdf
Content/Files/*.avi
Content/Logs/*.txt
!Content/Logs/.gitkeep

## Backup files
*.bak
*.old
*.backup

## User-specific files
appsettings.Development.json.user

