<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout">
        <environmentVariables></environmentVariables>
      </aspNetCore>
      <httpProtocol>
        <customHeaders>
          <!-- 防止洩漏網際網路伺服器資訊 -->
          <remove name="Server" />
          <!-- 防止洩漏系統開發技術框架 -->
          <remove name="X-Powered-By" />
          <!-- 防止 MIME Type 混淆攻擊 -->
          <add name="X-Content-Type-Options" value="nosniff" />
          <!-- 防止釣魚網站以 IFrame 加載此網站 -->
          <add name="X-Frame-Options" value="SAMEORIGIN" />
          <!-- HSTS：前端強制使用 HTTPS 訪問網站，防止中間人攻擊 -->
          <!-- https:// 使用此設定 
          <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" />-->
        </customHeaders>
      </httpProtocol>
      <security>
        <!-- 防止洩漏網際網路伺服器資訊 -->
      <requestFiltering>
          <!-- 限制單一請求大小(單位：Bytes)。目前設定值小於 100MB -->
          <requestLimits maxAllowedContentLength="102400000" />
          <!-- 禁用 TRACE 和 TRACK 方法 -->
          <verbs>
            <add verb="TRACE" allowed="false" />
            <add verb="TRACK" allowed="false" />
          </verbs>
        </requestFiltering>
      </security>
      <rewrite>
        <rules>
          <!-- 清除所有現有規則 -->
          <clear />
          <!-- 強制使用 HTTPS -->
          <!-- https:// 使用此設定 
          <rule name="Redirect HTTP to HTTPS" stopProcessing="true">
            <match url="(.*)" />
            <conditions>
              <add input="{HTTPS}" pattern="^OFF$" />
            </conditions>
            <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
          </rule>-->
          <!-- 阻擋偽造的 Host Header 
              在 pattern 中，加入網域名稱、機器名稱或 IP，如：beta\.goldenup\.com、10\.100\.0\.200 -->
          <!-- https:// 使用此設定 
          <rule name="Blocking Forged Host Headers" stopProcessing="true">
            <match url=".*" />
            <conditions>
              <add input="{HTTP_HOST}" matchType="Pattern" pattern="^(beta\.goldenup\.com|localhost|127\.0\.0\.1)$" ignoreCase="true" negate="true" />
            </conditions>
            <action type="CustomResponse" statusCode="403" statusReason="Forbidden: Access is denied." statusDescription="You do not have permission to view this directory or page using the credentials that you supplied." />
          </rule>-->
          <!-- 阻擋波浪符請求(避免目錄列舉漏洞) -->
          <rule name="Block Tilde Requests" stopProcessing="true">
            <match url=".*~.*" ignoreCase="true" />
            <conditions logicalGrouping="MatchAny">
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="AbortRequest" />
          </rule>
        </rules>
        <!-- 移除 Server 標頭 -->
        <outboundRules>
          <rule name="Remove Server header">
            <match serverVariable="RESPONSE_Server" pattern=".*" />
            <action type="Rewrite" value="" />
          </rule>
        </outboundRules>
      </rewrite>
      <!-- 在應用程式池啟動或回收時，自動發送一個請求來預熱應用程式，避免第一個用戶回應緩慢的問題 -->
      <applicationInitialization doAppInitAfterRestart="true">
      </applicationInitialization>
    </system.webServer>
  </location>
  <appSettings>
    <add key="Z_Dapper_Plus_LicenseName" value="8955;701-goldenup.com" />
    <add key="Z_Dapper_Plus_LicenseKey" value="1670522e-26c0-7920-4836-9d1b201383a4" />
  </appSettings>
</configuration>