<h2>@ViewData["Title"]</h2>
<br />
<blockquote>@ViewData["Message"]</blockquote>
<blockquote>@ViewData["Message2"]</blockquote>
<blockquote>@ViewData["Message3"]</blockquote>

<style>
	body {
		font-family: "Microsoft JhengHei", "Segoe UI Light", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	}

	h2 {
		font-weight: bold;
	}
</style>
