<style>
	body {
		font-family: "Microsoft JhengHei", "Segoe UI Light", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	}

	h1, h2, h3 {
		font-weight: bold;
	}

	img {
		margin-top: .5rem;
	}

	h3 {
		margin-top: 0;
	}

	.row span {
		color: #3498db;
		border-top: 3px #3498db solid;
		border-bottom: 3px #3498db solid;
	}
</style>

<div class="jumbotron">
	<h1>金旭行動網應用程式界面服務</h1>
    <p class="lead">提供後端服務界面供前端系統存取使用.</p>
    <hr />
    <div class="row">
		<div class="col-md-12">
			<h3><span>技術框架</span></h3>
			<img class="image-full" src="~/ASP.NetCore.jpg" />
		</div>
    </div>
</div>
